@model List<AnimeListings.ViewModels.Users.UserListedViewModel>

@{
    ViewData["Title"] = "User Manager";
    System.Text.StringBuilder PermissionsString = new System.Text.StringBuilder();
}

<h1>User Manager</h1>

<table class="table table-hover">
    <thead>
        <tr>
            <th>
                Email
            </th>
            <th>
                Display Name
            </th>
            <th>
                Permissions
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @for (int i = 0; i < Model.Count; i++)
        {
        <tr>
            <td>@Model[i].Email</td>
            <td>@Model[i].DisplayName</td>
            @if (Model[i].Permissions.Count == 0)
            {
                <td>None</td>
            }
            else
            {
                @for(int j = 0; j < Model[i].Permissions.Count; j++)
                {
                    PermissionsString.Append(Model[i].Permissions[j]);
                    if (Model[i].Permissions.Count - 1 != j)
                    {
                        PermissionsString.Append(", ");
                    }
                }
                <td>@PermissionsString.ToString()</td>
            }
            @PermissionsString.Clear()
            <td>
                <a asp-area="Admin" asp-controller="UserManager" asp-action="Details" asp-route-id="@Model[i].UserId">Details</a> |
                <a asp-area="Admin" asp-controller="UserManager" asp-action="Edit" asp-route-id="@Model[i].UserId">Edit</a>
            </td>
        </tr>
        }
    </tbody>
</table>